@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
<h3 class="text-primary"> Create</h3>
<a href="@Url.Action("Create")" class="btn btn-primary">
    Add new
</a>
<h3 class="text-primary">Edit</h3>
<a href="@Url.Action("Edit")" class="btn btn-primary">
    Edit
</a>
<h3 class="text-primary">Delete</h3>
<a href="@Url.Action("Delete")" class="btn btn-primary">
    Delete
</a>
<h3 class="text-primary">Update</h3>
<a href="@Url.Action("Delete")" class="btn btn-primary">
    Update
</a>