@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
</div>
<div class="row">
    <div class="col-sm-6 align-content-center">
        <h2 class="text-primary">Find The Best Doctors Around You  <br /> In Simple Steps</h2>
        <hr />
        <ul class="text-muted">
            <li>Find The Best Doctors Online</li>
            <li>Make Appointment</li>
            <li>Confirm Your Appointment</li>
            <li>Add There You GO!</li>
        </ul>
        <a class="btn btn-primary" asp-controller="Account" asp-action="Register">Register Now!</a>
    </div>
    <div class="col-sm-6 text-center">
        <img class="img-fluid img-thumbnail" style="max-height: 30rem" src="/pictures/doctor.jpg" alt="hero img" />
    </div>
</div>