@using Doctor_System.ViewModels
@model AddWorkingHoursViewModel

@{
    ViewData["Title"] = "Add Working Hours";
}

<div class="row justify-content-center">
    <div class="col-md-6">
        <h4 class="alert alert-primary" role="alert">Add Working Hours</h4>
        @if (TempData["Error"] != null)
        {
            <div class="col-md-12 alert alert-danger">
                <span><b>Sorry!</b> - @TempData["Error"]</span>
            </div>
        }
        <div class="row p-3 justify-content-center" style="background: #f4f4f4; border-radius: 15px">
            <div class="col-md-10">
                <form asp-action="AddWorkingHours">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="form-group m-3">
                        <label asp-for="DayOfWeek" class="control-label"></label>
                        <select asp-for="DayOfWeek" class="form-select">
                            <option value="sunday" selected>Sunday</option>
                            <option value="monday">Monday</option>
                            <option value="tuesday">Tuesday</option>
                            <option value="wednesday">Wednesday</option>
                            <option value="thursday">Thursday</option>
                            <option value="friday">Friday</option>
                            <option value="saturday">Saturday</option>
                        </select>
                        <span asp-validation-for="DayOfWeek" class="text-danger"></span>
                    </div>
                    <div class="form-group m-3">
                        <label asp-for="OpeningTime" class="control-label"></label>
                        <input asp-for="OpeningTime" type="time" class="form-control">
                        <span asp-validation-for="OpeningTime" class="text-danger"></span>
                    </div>
                    <div class="form-group m-3">
                        <label asp-for="ClosingTime" class="control-label"></label>
                        <input asp-for="ClosingTime" type="time" class="form-control" />
                        <span asp-validation-for="ClosingTime" class="text-danger"></span>
                    </div>
                    <div class="form-group d-flex justify-content-center gap-1">
                        <input class="btn btn-outline-success float right" type="submit" value="Add" />
                        <a class="btn btn-outline-secondary" asp-controller="Home" asp-action="Index">Cancel</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>